body,div,p,h1,h2,h3,h4,h5,h6,ul,li,input,span,b,em,strong,a,dl,dt,dd{ padding:0; margin:0;}
body{ font-size:14px; font-family:Verdana,Helvetica,Arial,sans-serif;}
ul,li{ list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
.fl{ float:left}
.fr{ float:right}
.fs14{ font-size:14px;}
.colc00{ color:#C00;}
.lan{ color:blue;}
.red{ color:Red;}
.hui{ color:#707070;}
.hui1{ color:#999;}
.fwb{ font-weight:bold}
.wraper{ width:900px; margin:0 auto;}
.top{ width:930px; height:87px;}
.top h1{ height:86px;  float:left;}
.top ul{ float:left; margin-top:56px; display:inline;}
.top ul li{ float:left; height:24px; line-height:24px; margin:0 10px; display:inline; font-weight:bold; font-size:16px;}
.top ul li a{ color:#2b2b2b; display:block;}
.top ul li a:hover,.top ul li a.current{ color:#1e51a2; border-bottom:3px solid #1e51a2; text-decoration:none;}
.top ul li a.current1{ color:#22b909; border-bottom:3px solid #22b909; text-decoration:none;}
.top ul li a.current2{ color:#d0000f; border-bottom:3px solid #d0000f; text-decoration:none;}
.top ul li a.current3{ color:#e35f0f; border-bottom:3px solid #e35f0f; text-decoration:none;}
.main{ border:1px solid #ccc; border-radius: 3px 3px 3px 3px; line-height:26px; padding:10px 20px; margin:10px 0; }
.main b{ font-size:14px}
.main h2{ font-size:16px; margin:10px 0; color:blue;}
.r_nav{ font-size:14px; position:fixed; z-index:9999;text-align:left; top:50%; right:50%; margin-right:460px; margin-top:-100px;
_position:absolute;/*IE6*/_margin-top:0px;
_top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/}
.r_nav ul li{ width:100px; line-height:30px; border-bottom:1px dashed #ccc; font-weight:bold}
.r_nav ul li a{ color:#2b2b2b;}
.r_nav ul li a:hover{ color:#2b2b2b; background:#f5f5f5; display:block}